<form
  class="align-items-center d-flex flex-column justify-content-center mb-4"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field appearance="outline">
    <mat-label>Email címed</mat-label>
    <input formControlName="email" matInput />
    <!-- <img matSuffix src="assets/images/icon-letter.svg" /> -->
  </mat-form-field>
  <mat-error class="align-self-baseline" *ngIf="form.invalid">{{
    getErrorMessage('email')
  }}</mat-error>

  <mat-form-field appearance="outline">
    <mat-label>Jelszavad</mat-label>
    <input formControlName="password" matInput type="password" />
    <!-- <img matSuffix src="assets/images/icon-lock.svg" /> -->
  </mat-form-field>
  <mat-error class="align-self-baseline" *ngIf="form.invalid">{{
    getErrorMessage('password')
  }}</mat-error>

  <button
    class="button-custom mt-3"
    color="primary"
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="!form.valid"
  >
    Bejelentkezés
  </button>
</form>
