@import '../../../common/styles/variables';

.form-container {
  gap: 32px;

  .form-header {
    .logo-container {
      .logo-icon-container {
        width: 100px;
        height: 100px;
        background-color: $green;
        border-radius: 50%;
        margin-bottom: 8px;
      }
    }
  }
}

.button-custom {
  background-color: $green;
  border-radius: 32px;

  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: white;
  padding: 12px;
}

::ng-deep {
  mat-label {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: $black;
    margin-bottom: 4px;
  }

  .mat-form-field {
    width: 380px;
    max-width: 100%;

    .mat-form-field-flex {
      padding-top: 0px !important;
      padding-bottom: 4px;

      .mat-input-element {
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: $black;
      }

      .mat-form-field-infix {
        padding-bottom: 6px;
        width: 100%;
        border-top: none;
      }
    }

    .mat-form-field-subscript-wrapper {
      margin-top: 0.25em;
    }
  }
}

.input-prefix-icon {
  object-fit: contain;
  padding-bottom: 4px;
  margin-right: 4px;
  width: 28px;
  height: 28px;
}
