$primary_text: #1b1b1b;
$secondary_text: rgba(63, 63, 63, 0.6);
$secondary_icon: rgba(63, 63, 63, 0.9);
$dark_green: #2c3639;
$green: #233928;
$brown: #a27b5c;
$beige: #f5eed8;
$white: #ffffff;
$black: #000000;
