@import '../../../../common/styles/variables';

::ng-deep {
  .workspace-container {
    padding: 8px;
    .workspace-container-header {
      .workspace-container-header-icon {
        scale: 0.85;
      }
    }
    .workspace-last-modified-container {
      .workspace-last-modified-icon {
        color: $secondary_text !important;
        scale: 0.7;
        svg {
          fill: $secondary_text !important;
        }
      }
      .workspace-last-modified-content {
        color: $secondary_text !important;
      }
    }
  }
}

::ng-deep {
  button {
    nb-icon {
      width: fit-content;
      height: fit-content;
    }
  }
  .workspace-footer {
    nb-icon {
      height: 22px;
      width: 22px;
      margin-right: 4px;
    }
  }
}
