<div class="workspace-container" *ngIf="workspaceDetails">
  <div class="workspace-container-header d-flex gap-3 flex-column">
    <div class="d-flex gap-2 flex-column">
      <div
        class="d-flex gap-2 flex-column flex-lg-row justify-content-md-between align-items-start"
      >
        <h2 class="text-h2">Workspaces - {{ workspaceDetails.title }}</h2>
        <div
          class="d-flex gap-2 flex-column flex-sm-row justify-content-md-between align-items-start"
        >
          <button nbButton status="primary">
            <nb-icon
              icon="share"
              pack="custom-icons"
              class="workspace-container-header-icon"
            ></nb-icon
            >Share
          </button>
          <button nbButton status="primary" (click)="modifyWorkspace()">
            <nb-icon
              icon="edit"
              pack="custom-icons"
              class="workspace-container-header-icon"
            ></nb-icon
            >Edit details
          </button>
        </div>
      </div>
      <div class="workspace-last-modified-container d-flex flex-row gap-2">
        <nb-icon
          icon="edit"
          pack="custom-icons"
          class="workspace-last-modified-icon"
        ></nb-icon>
        <h4 class="header-4 workspace-last-modified-content">
          Last modified: {{ workspaceDetails.updatedAt.toLocaleDateString() }}
          {{ workspaceDetails.updatedAt.toLocaleTimeString() }}
        </h4>
      </div>
    </div>

    <div class="d-flex flex-column gap-3">
      <h4 class="header-4 mb-0">
        {{ workspaceDetails.description }}
      </h4>

      <div class="workspace-editors d-flex flex-row gap-3 align-items-center">
        <h4 class="header-4 mb-0">Editors:</h4>
        <div class="d-flex flex-row gap-1">
          <div
            class="profile-picture"
            *ngFor="let editor of workspaceDetails.editors"
          >
            <nb-icon
              icon="profile"
              pack="custom-icons"
              [matTooltip]="
                editor.isUser ? 'Me' : editor.firstName + editor.lastName
              "
            ></nb-icon>
          </div>
        </div>
        <button
          nbButton
          status="primary"
          class="editors-modify-button"
          (click)="modifyWorkspaceEditors()"
        >
          <nb-icon
            icon="edit"
            pack="custom-icons"
            class="workspace-container-header-icon"
          ></nb-icon
          >Modify
        </button>
      </div>
    </div>
    <div class="d-flex flex-row gap-3 align-items-center">
      <h4 class="header-3 mb-0">Todo</h4>
      <button nbButton status="primary" (click)="createTask()">
        <nb-icon icon="add_circle" pack="custom-icons"></nb-icon>Add Todo
      </button>
    </div>
  </div>
</div>

<div
  class="todo-table-container"
  *ngIf="workspaceDetails && workspaceDetails.tasks"
>
  <!-- todo -->
  <tosp-memo-life-task-workspace-todo-table
    [tasks]="[]"
    [editors]="[]"
  ></tosp-memo-life-task-workspace-todo-table>
</div>
