<nb-layout>
  <nb-sidebar
    responsive
    [collapsedBreakpoints]="['xs', 'is']"
    [compactedBreakpoints]="['sm', 'md', 'lg']"
    linear-gradient
    class="sidebar"
    *ngIf="user"
  >
    <div
      class="sidebar-section sidebar-user d-flex flex-column align-items-center"
    >
      <div
        class="profile-pic-container d-flex flex-column justify-content-center align-items-center"
      >
        <img [src]="user.pfp" alt="profile pic" class="profile-pic-image" />
      </div>
      <h4 class="profile-name text-h4 color-white text-center">
        {{ user.firstName }} {{ user.lastName }}
      </h4>
    </div>
    <div
      class="sidebar-section sidebar-user-stats d-flex flex-row justify-content-center align-items-start"
    >
      <div
        class="sidebar-user-stat-section d-flex flex-column justify-content-center align-items-center"
      >
        <h4 class="text-h4 color-white">{{ user.workspaces }}</h4>
        <p class="text-p1 color-pale-white">Workspaces</p>
      </div>
      <div
        class="sidebar-user-stat-section d-flex flex-column justify-content-center align-items-center"
      >
        <h4 class="text-h4 color-white">{{ user.tasks }}</h4>
        <p class="text-p1 color-pale-white">Tasks</p>
      </div>
    </div>

    <div class="sidebar-section navigation-contanier pt-4">
      <nb-menu [items]="items"> </nb-menu>
    </div>
  </nb-sidebar>

  <nb-layout-column class="p-3 p-sm-4">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
