<div class="custom-modal-container">
  <h4 class="text-h4 color-white">Delete workspace</h4>
  <p class="text-p1 color-white">
    Are you sure you want to delete this workspace?
  </p>

  <div class="custom-modal-action-container">
    <button
      nbButton
      status="info"
      (click)="closeModal()"
      [fullWidth]="true"
      size="large"
    >
      Cancel
    </button>
    <button
      nbButton
      status="success"
      (click)="deleteWorkspace()"
      [fullWidth]="true"
      size="large"
    >
      Delete
    </button>
  </div>
</div>
